
.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.chart {
  width: 1170px;
 
  background-color: #121212;
  display: flex;
 
 justify-content: space-between;
 padding: 2rem 2rem 0.5rem;
}

.chart-container {
  display: flex;
  align-items: flex-end;

  
}
.chart-canvas {
  width: 820px; /* Ange önskad bredd */
  height: 560px;
}

.rating {

  display: flex;
  flex-direction: column;

}

.names {
 
  
}

.category-container {
  
  padding: .5rem 1rem; 
 
  cursor: pointer;
  transition: background-color 0.2s;
  transition: color 0.3s ease;
  
}
.category-container:hover {
  color: #7cc07c;
}
.category-container.selected {
  background-color: #7cc07c; 
  color: #000; 
}